<h1 id="inicio">Typescript</h1>
<section>
    <article class="text-justify">
        Vamos começar o tutorial dando uma breve explicação do typescript, que é uma linguagem que o angular entende.Typescript é uma linguagem de programação.
        Caso você esteja estudando programação web, já deve ter ouvido de Javascript (JS) não é mesmo? Você sabia que
        existe um superset que busca melhorar ainda mais a produtividade de quem trabalha com o JS? É o Typescript.
        Criado pela Microsoft em busca de um melhor aproveitamento de características da linguagem, como a tipagem
        dinâmica do Javascript, essa modificação, conjunto de ferramentas como classes e interfaces a mais, caiu no
        gosto de profissionais de programação, melhorando o trabalho de descobrir falhas e bugs.
    </article>
    <article class="text-justify">
        <h3>Vantagens do typescript</h3>
        <ul>
            <li>
                Linguagem tipada
            </li>
            <li>
                Recursos importantes disponíveis nas IDE’s
            </li>
            <li>
                Consistência dos códigos;Previsão de erros inesperados;
            </li>
            <li>
                É semelhante ao JavaScript e usa a mesma sintaxe e semântica
            </li>
            <li>
                Semelhante a outras linguagens tipadas , como C# e Java, ajuda os desenvolvedores de
                back end a migrarem para NodeJs mais facilmente e até escrever código de front end.
            </li>
            <li>
                Você pode chamar o código TypeScript a partir de um código JavaScript existente Além
                disso, ele funciona com códigos e bibliotecas em JavaScript puro sem problemas.
            </li>
        </ul>

    </article>
    <article>
        <h3>Instalando o typescript</h3>
        <ol>
            <li>
                Crie uma pasta e acesse pelo terminal;
            </li>
            <li>Utilize o comando para inicializar o gerenciador de pacotes: <strong> npm init y</strong></li>
            <li>Utilize o comando para instalar o typescript: <strong> npm install typescript D</strong></li>
            <li>Utilize o comando para iniciar um arquivo que constará todas as configurações básicas do TypeScript .
               <strong> npx tsc init</strong></li>
            <li>Utilize o comando para poder executar o nosso projeto npm install ts node dev D (similar ao nodemon)</li>
            <li>Crie um arquivo index.ts</li>
            <li>No arquivo package.json substitua a linha:
                "
                test echo Error no test specified exit 1”
                por
                "dev"
                tsnd transpile only ignore watch node_modules index.ts</li>
            <li>depois no prompt de comando digite: <strong> npm run dev</strong></li>
            


        </ol>
    </article>
    <a [routerLink]="['/modulos']">
        Próxima (modulos)
      </a>
</section>