<section>
    <article>
        <h3>Diretivas</h3>
        <p>As
            diretivas são marcadores em um elemento DOM (como um atributo)
            que informam ao Angular para anexar um comportamento especificado a
            um elemento existente O propósito da diretiva é fornecer meios para que
            possamos manipular o DOM ou estender as funcionalidades do elemento
            no qual a diretiva terá ação, como por exemplo alterar o seu conteúdo,
            estilo, visibilidade etc dependendo da necessidade da funcionalidade a
            ser desenvolvida As diretivas aumentam ainda mais a interatividade e
            performance de um website para o usuário</p>
    </article>
    <article>
        <h3>tipos de diretivas</h3>
        <ol>
            <li><strong>ngStyle</strong>  A diretiva ngStyle serve para alterar em tempo real valores de
                propriedades de CSS dentro de um elemento HTML ou componente Essa
                diretiva receberá um objeto com as propriedades que serão mudadas
                dinamicamente Para usar essa diretiva, adicione o como atributo do seu
                elemento ou componente com a sintaxe  colchete  o objeto receberá as
                propriedades que serão mudadas que serão interpretadas pelo Angular e
                executadas visualmente pra o usuário</li><img width="50%" src="../../assets/imagens/twdb.PNG" alt="ss">
            <li><strong> ngClass</strong> A diretiva ngClass serve para adicionar ou remover uma classe de
                algum elemento HTML ou componente que está sendo usado O ngClass
                como o ngStyle pode receber um objeto como valor, onde os atributos
                desse objeto será o nome das classes e os valores alguma expressão
                booleana que se verdadeira, adicionará a classe, se falsa, não adicionará
                Mas também pode receber diretamente um atributo do componente onde o
                valor desse atributo é uma string com o nome da classe A sintaxe é a
                mesma do ngStyle Basta colocar a diretiva como atributo [ngClass]= &#123; &#125;
            </li>
            <li></li>
        </ol>
    </article>
</section>
