<section>
    <article>
        <h3>Componentes</h3>
        <p>para criar um componente no mesmo diretório do projeto ola-mundo, penas digite no prompt na pasta do projeto:</p>
        <p>ng g componente meu-primeiro</p>
        <p>Ele deve ser criado uma pasta em SRC -> App -> meu-primeiro</p>
        <P>e depois ser importado no <strong> app.module.ts</strong> para dar 'conhecimento' ao modulo principal, que existe outro componente.</P>
        <p>E se existir no projeto um arquivo app-routing.module.ts, deve ser colocado o path, o caminho para a rota e informado o componente criado.</p>
        <figure>
            <img src="../../assets/imagens/componente1.PNG" alt="componente">
            <figcaption>Depois de criado, o app.module.ts deve ser informado com uma importação.</figcaption>
        </figure>
    </article>
    <article>
        <h3>Data binding</h3>
        
    </article>
</section>
