<h1 class="display-5">Tutorial Angular 12 cli</h1>
<h3>Sobre o Angular</h3>
<section>
    <article>
        <p class="text-justify"> Criar um projeto Angular partindo do zero não é tarefa fácil, existem diversas
            dependências e integrações necessárias que precisam ser configuradas para que a inicialização da aplicação
            ocorra corretamente.</p>

        <p class="text-justify"> A princípio, quando o Angular ainda estava em suas primeiras versões de
            desenvolvimento, a própria
            documentação quickstart do framework sugeria o clone do projeto semente (seed project) através do
            repositório oficial no GitHub.</p>
        <p class="text-justify">A partir da versão 2, o framework JavaScript Angular vem com uma interface de linha de
            comando (command line interface) para facilitar e acelerar a criação de nossas aplicações, conhecida como
            Angular CLI.

            Quando a versão 1.0 final do CLI foi lançada, ele se tornou a forma oficial para iniciar um novo projeto em
            Angular.

            O Angular CLI é baseado no Webpack, uma ferramenta que ajuda a processar e agrupar nossos diversos arquivos
            TypeScript, JavaScript, CSS, HTML e imagens. Por baixo dos panos, o Webpack é responsável por estruturar o
            ponto de entrada da aplicação, ou seja, a raiz contextual (arquivo de inicialização).</p>
    </article>
    <section class="mt-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YX0y1FMlb8I" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </section>
    <h3>Instalação Angular Cli</h3>
    <section>
        <article>
            <ol>
                <li>
            
                  <strong>  npm             install g @angular/cli</strong>
                  <p><strong> ng -version</strong></p>

                </li>
                <li>
                    Crie uma pasta para seu projeto;
                </li>

                <li>
                    No terminal, dentro da pasta, execute o comando:
                   <strong> ng new ola mundo</strong>

                </li>
                <li>
                    No terminal, dentro da pasta ( ola mundo), execute o comando:
                   <strong> ng serve</strong>
                </li>

            </ol>
            <a [routerLink]="['/typescript']">
                Próxima (typeScript)
              </a>
        </article>
    </section>
</section>